<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.module.user.dao.UserDaoMyBatis">

	<!-- 获取用户列表 -->
	<select id="getUsers" resultType="UserDTO">
		SELECT
		u.sno,
		u.name,
		u.gender,
		u.specialty,
		u.direction,
		u.skill,
		u.ability
		FROM
		t_usersingle u
	</select>

	<!-- 获取其他筛选列表 -->
	<select id="getJavaUsers" resultType="UserDTO">
		SELECT
		u.sno,
		u.name,
		u.gender,
		u.specialty,
		u.direction,
		u.skill,
		u.ability
		FROM
		t_usersingle u
		WHERE
		u.direction LIKE '%Java%';
	</select>

	<select id="getWebUsers" resultType="UserDTO">
		SELECT
		u.sno,
		u.name,
		u.gender,
		u.specialty,
		u.direction,
		u.skill,
		u.ability
		FROM
		t_usersingle u
		WHERE
		u.direction LIKE '%Web%';
	</select>
	<select id="getBigDataUsers" resultType="UserDTO">
		SELECT
		u.sno,
		u.name,
		u.gender,
		u.specialty,
		u.direction,
		u.skill,
		u.ability
		FROM
		t_usersingle u
		WHERE
		u.direction LIKE '%大数据%';
	</select>
	<select id="getMathUsers" resultType="UserDTO">
		SELECT
		u.sno,
		u.name,
		u.gender,
		u.specialty,
		u.direction,
		u.skill,
		u.ability
		FROM
		t_usersingle u
		WHERE
		u.direction LIKE '%数学%';
	</select>
	<select id="getMaleUsers" resultType="UserDTO">
		SELECT
		u.sno,
		u.name,
		u.gender,
		u.specialty,
		u.direction,
		u.skill,
		u.ability
		FROM
		t_usersingle u
		WHERE
		u.gender LIKE '男';
	</select>
	<select id="getFemaleUsers" resultType="UserDTO">
		SELECT
		u.sno,
		u.name,
		u.gender,
		u.specialty,
		u.direction,
		u.skill,
		u.ability
		FROM
		t_usersingle u
		WHERE
		u.gender LIKE '女';
	</select>

	<!-- 新增或更新用户 -->
	<insert id="saveOrUpdateUser" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO t_usersingle (
		id,
		sno,
		name,
		gender,
		specialty,
		direction,
		skill,
		ability
		)
		VALUES (
		#{id},
		#{sno},
		#{name},
		#{gender},
		#{specialty},
		#{direction},
		#{skill},
		#{ability}
		)
		ON DUPLICATE
		KEY UPDATE
		sno = #{sno},
		name =
		#{name},
		gender = #{gender},
		specialty =
		#{specialty},
		direction =
		#{direction},
		skill = #{skill},
		ability =
		#{ability}
	</insert>





</mapper>